[2013-09-19 20:36] yegor256 opened #1 "AwsItem#get() and #has() use all attributes as keys"
Methods `#get()` and `#has()` in `AwsItem` use all attributes as keys, which leads to exception from AWS. We should filter out those that are not keys

[2013-09-19 21:01] #1 closed, assigned to yegor256

[2013-09-25 06:46] Nijisha opened #2 "log4j for Dynamodb"
Hi Yergor,
I am trying with storing log files into Dynamodb. what I did:
I created one class 'DynamoAppender' which extends 'AppenderSkeleton' and added jar 'jcabi-dynamo-0.8.jar' into it. and then I created a jar file of this class. then I created a new application and added the newly created jar file into it. and added a log4j property file into the application. these are the errors I am getting

[2013-11-07 08:33] yegor256 opened #3 "com.jcabi.dynamo.retry.*"
Let's add a collection of classes that retry AWS operations

[2013-11-07 09:50] #3 closed, assigned to nobody

[2013-12-10 08:44] yegor256 opened #4 "waiting time is too short in ReRegion"
Waiting time is too short in `ReRegion`, should be at least a few seconds.

[2013-12-10 09:52] #4 closed, assigned to nobody

[2013-12-10 18:16] #2 closed, assigned to nobody

[2014-01-25 09:31] carlosmiranda opened #5 "Unit test mocks for Region and Table"
I'm currently looking at migrating a class in S3Auth from using Amazon AWS S3 SDK to JCabi-Dynamo (see https://github.com/yegor256/s3auth/issues/90). I'd like to implement unit tests before I push the new code changes.

There are <a href="http://dynamo.jcabi.com/example-it.html">instructions on how to set up an integration tests</a> with JCabi-Dynamo, but I don't see anything regarding unit tests.

[2014-03-09 15:26] yegor256 opened #6 "use com.jcabi:jcabi 1.4"
let's use `com.jcabi:jcabi:1.4` as a parent `pom`

[2014-03-10 12:04] #5 closed, assigned to nobody

[2014-03-12 03:30] carlosmiranda opened #7 "H2Data does not support names with ".", "-", or digits"
I encountered this issue while working on https://github.com/yegor256/s3auth/issues/90.

In S3Auth, the table and attribute names contain `.` characters, e.g. `domain.name`. However, [H2 does not allow this](http://www.h2database.com/html/grammar.html#name), but [http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html](Amazon Dynamo DB) does; Dynamo DB allows `-` characters and

[2014-03-12 04:19] carlosmiranda opened #8 "Support for deleting items"
We're looking to migrate the S3Auth project to jcabi-dynamo (yegor256/s3auth#90). In jcabi-dynamo, there doesn't appear to be any support for deleting items:

[code]

What I end up doing is that I get the `AmazonDynamoDB` instance from `Region`. Can we add support for it in jcabi-dynamo?

[2014-06-09 13:52] #6 closed, assigned to nobody

[2014-07-27 10:49] yegor256 opened #10 "com.jcabi.dynamo.Throughput"
migrated from https://github.com/jcabi/jcabi/issues/276

Let's implement a class `com.jcabi.dynamo.Throughput`, which would be able to change throughput of a table according to certain parameters of elasticity/scalability. For example:

[code]

The class is intended to be executed regularly (every few minutes). It has to use the same AWS credentials to access CloudWatch metrics.

[2014-08-14 15:58] yegor256 opened #11 "skin 1.4"

[2014-08-14 16:23] #11 closed, assigned to nobody

[2014-09-08 07:45] yegor256 opened #12 "issues with iterator.remove()"

[2014-09-08 08:28] #12 closed, assigned to nobody

[2014-10-15 10:31] krzyk opened #13 "Upgrade to jcabi 1.15"
Without this upgrade jcabi-dynamo can't be used in proejcts that depend on jcabi-aspects >= 0.18 (missing @Immutable.Array on arrays).

[2014-10-22 18:11] #13 closed, assigned to nobody

[2014-11-04 17:58] yegor256 opened #14 "APT instead of MD"

[2014-11-04 18:20] #14 closed, assigned to nobody

[2014-11-13 16:43] yegor256 opened #15 "Conditions.with(String,Object)"

[2014-11-30 23:00] caarlos0 opened #16 "H2Data don't support multiple tables"
Suppose I want to create two tables that somehow relate to each other. Current `H2Data` implementation only allows one table to be created using the `with` method:

[code]

I believe that a good fit would be something like:

[code]

[2014-12-01 22:25] #16 closed, assigned to nobody

[2014-12-12 14:38] php-coder opened #17 "Link from documentation points to nowhere"
At page http://dynamo.jcabi.com/ there is a paragraph

and "com.jcabi.dynamo.retry" there is a link to http://dynamo.jcabi.com/apidocs-0.18.1/com/jcabi/dynamo/retry/index.html But when I open it I get 404 page.

[2014-12-25 18:04] dpisarenko opened #18 "Incomplete documentation of wheher Regions must be shut down"
The current documentation of the Region interface is not complete as it doesn't specify whether or not the region must be shut down after all operations are finished.

**How to fix**

In the header comments of the `com.jcabi.dynamo.Region` describe whether or not code similar to one shown below must be called after all operations have been completed.

[code]

[2015-01-01 11:14] dmarkov commented on #7
@jenya can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-01 11:14] dmarkov commented on #8
@antacerod please stop working with it, somebody else will pick it up, thanks

stop where you are, the task is not yours any more, thanks!

this ticket is not yours any more, thanks

this task is not yours any more, please stop working with it (or ignore it if you haven't started yet), Thanks!

it's not your task any more, please stop working with it (if you were)

[2015-01-01 11:14] dmarkov commented on #17
@cyberone this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-01 11:14] dmarkov commented on #18
@darkled can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-01 11:15] dmarkov commented on #18
@dpisarenko thanks for this report, I added 15 mins to your account, in transaction `49703973`

[2015-01-01 13:58] dmarkov commented on #8
@pandreev this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-03 14:29] dpisarenko opened #20 "H2Data cannot cope with periods in column names"
If you use `H2Data` with column names with dots such as `user.urn`, `domain.name`, `domain.key` etc. in a unit test like `com.s3auth.hosts.DefaultDynamoTest#loadsDynamoConfiguration`

[code]

then during the test run you get an exception like this:

[code]
Please make sure that jcabi-dynamo can work with column names that contain periods (e. g. by replacing the periods by dots transparently to the

[2015-01-03 19:28] carlosmiranda commented on #20
Duplicate of #7.

[2015-01-04 10:09] yegor256 commented on #20
yes, it's definitely a duplicate of #7

[2015-01-04 10:09] #20 closed

[2015-01-07 22:18] darkled commented on #18
@dpisarenko changes for this issue were merged, please, check it.

[2015-01-08 08:29] cyberone commented on #17
@dmarkov I don't see a 404 page. Maybe it's not developer's issue. Please reassign.

[2015-01-08 08:51] dpisarenko commented on #18
@darkled Thanks!

[2015-01-08 08:51] #18 closed

[2015-01-08 09:55] yegor256 commented on #17
@dmarkov assign me to this task pls

[2015-01-08 09:59] yegor256 commented on #7
@dmarkov please assign someone else

[2015-01-08 12:52] dmarkov commented on #7
@yegor256 all right, we'll find someone else for this task

[2015-01-08 12:52] dmarkov commented on #17
@yegor256 OK, it's yours, please proceed

[2015-01-08 12:55] dmarkov commented on #7
@jenya check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 13 days. If you can't close it within the next 16 hours I'll have to assign someone else to it

-30 added to your rating, current score is: [-75](http://www.netbout.com/b/35092?open=rating)

[2015-01-08 16:32] maurezen opened #22 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 10:51] dmarkov commented on #22
we'll find someone to do this task, soon

[2015-01-09 10:55] dmarkov commented on #22
@nathansgreen please help, the task is yours

[2015-01-09 10:56] dmarkov commented on #22
@maurezen many thanks for the report, I topped your account for 15 mins, transaction 49997570

[2015-01-12 02:05] nathansgreen commented on #22
@dmarkov @maurezen I created PR #23 but haven't seen any review activity yet. Do I need to do something else?

[2015-01-12 02:09] nathansgreen commented on #22
@dmarkov I don't see my login tagged on this issue. Should it be?

[2015-01-12 08:19] yegor256 commented on #22
@nathansgreen you did everything right, just a wait a bit pls

[2015-01-14 14:26] dmarkov commented on #7
@romankisilenko this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.htm

[2015-01-14 14:26] dmarkov commented on #8
@pandreev the task is your hands for the last 13 days.. keep in mind that if it's not closed in the next 24 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -30 added to your rating, current score is: -90

[2015-01-14 14:26] dmarkov commented on #18
@darkled I just added **30 mins** to your account, many thanks for your contribution..... +30 added to your rating, at the moment it is: [+210](http://www.netbout.com/b/35091?open=rating)

[2015-01-16 11:26] dmarkov commented on #8
@pandreev you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is -210

[2015-01-16 18:21] nathansgreen commented on #22
@maurezen PR #23 has been merged. Can you close the issue?

[2015-01-16 22:13] #22 closed

[2015-01-20 10:22] dmarkov commented on #22
@nathansgreen thanks, I just added **30 mins** to your account, payment `AP-9LW65171T1722632M`... +30 added to your rating, current score is: [+160](http://www.netbout.com/b/35107?open=rating)

[2015-01-20 11:09] dmarkov commented on #8
@nhekfqn This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-20 12:26] nhekfqn opened #25 "Implement MkTable#delete"
As subticket of https://github.com/jcabi/jcabi-dynamo/issues/8#issuecomment-70638225

Remove puzzle at MkTable#106

[2015-01-20 12:27] nhekfqn opened #26 "Implement ReTable#delete"
Subticket of https://github.com/jcabi/jcabi-dynamo/issues/8#issuecomment-70638225

Remove puzzle at ReTable#101

[2015-01-21 13:53] RomanKisilenko commented on #7
@carlosmiranda The PR was revived and closed. Please close this issue.

[2015-01-21 13:56] carlosmiranda commented on #7
@RomanKisilenko This has been a long running task, so the resolution is much appreciated! Closing now...

[2015-01-21 13:56] #7 closed

[2015-01-21 15:09] yegor256 commented on #7
@rultor release, tag is `0.18.2`

[2015-01-21 15:09] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1696-70853527)

[2015-01-21 15:22] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1696-70853527) (took me 12min)

[2015-01-21 22:46] maurezen opened #27 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-21 22:50] yegor256 commented on #27
There is no urgent need to upgrade to a new parent

[2015-01-21 22:50] #27 closed

[2015-01-21 23:12] maurezen commented on #27
@yegor256 please correct me if I understand this wrong, but are you saying that fixing failing code style checks in master are LESS important than updating a copyright section (issue #22, labeled by you as a valid bug and already fixed)?

[2015-01-21 23:14] yegor256 commented on #27
@maurezen master is not broken now. `mvn qulice:check -Pqulice` is not a documented operation. this one is documented (and used by Rultor and Travis): `mvn clean install -Pqulice`.

[2015-01-21 23:35] maurezen commented on #27
@yegor256 I must remind that `mvn -Pqulice` executes `check` goal of `qulice-maven-plugin`. Running `mvn clean install -Pqulice` resulted in the same `HeaderCheck` failures for jcabi-dynamo, so the issue is still here. Should I double-check for another jcabi descendants?

[2015-01-22 00:11] pinaf opened #28 "H2Data does not support COLUMNS with ".", "-", or digits"
Fix for issue #7 only dealt with table names. The same Base32 encoding should be done for column names. This is needed for [yegor/s3auth#90](https://github.com/yegor256/s3auth/issues/90)

[2015-01-22 09:32] yegor256 commented on #27
Try to run `mvn clean install -Pqulice` in this project and post your log here if it fails.

[2015-01-22 10:35] maurezen commented on #27
Relevant log part:

Please tell me if you need full build log - and if yes, please tell me if there is preferrable method of attaching 200+kb log.

[2015-01-22 10:37] yegor256 commented on #27
@maurezen how do you run it? what is your environment? at the moment both Travis (Ubuntu) and Appveyor (Windows) show clean build..

[2015-01-22 10:42] maurezen commented on #27
@yegor256 win7x64, maven 3.2.5 running under java 1.7.0-21, checked out master branch from maurezen/jcabi-dynamo (which is at the moment even with master of jcabi/jcabi-dynamo).

[2015-01-22 11:05] dmarkov commented on #28
this task will get someone's attention soon

[2015-01-22 11:08] dmarkov commented on #28
@pinaf many thanks for the bug report, I added 15 mins to your acc, transaction `AP-3LH50245RL416922R`

[2015-01-22 21:34] pinaf commented on #28
@dmarkov thank you

[2015-01-23 10:10] dmarkov commented on #7
@romankisilenko Thanks a lot, I just topped your account for **30 mins**, transaction ID `50616370`

+30 added to your rating, at the moment it is: +360

[2015-01-25 16:43] nhekfqn commented on #8
@dmarkov PR https://github.com/jcabi/jcabi-dynamo/pull/29 has been submitted.

Two new tickets submitted (#25 #26) in order to implement new method Table.delete in other classes implementing Table. Puzzles for those tickets added in code.

[2015-01-25 16:49] nhekfqn commented on #8
@dmarkov I also mentioned Checkstyle checks cannot be suppressed with @SuppressWarnings annotation, so I submitted another ticket to qulice https://github.com/teamed/qulice/issues/392

[2015-01-26 13:17] maurezen commented on #27
@yegor256 any comments?

[2015-01-26 13:22] yegor256 commented on #27
@maurezen first, I can't reproduce it. both Travis and Appveyor are showing clean build. second, even if it's reproducible in some environment, it's not worth a full bug, see http://www.teamed.io/policy.html#13

[2015-01-26 13:48] maurezen commented on #27
@yegor256 we still need to determine if there is a problem - to fix it if there is one. So if the build fails under _some_ environment, it is okay? As long as this is not the build server environment?

[2015-01-27 11:17] dmarkov commented on #28
@apocarteres the task is yours

[2015-01-28 12:58] #25 closed

[2015-01-28 12:58] #26 closed

[2015-01-28 17:32] nhekfqn opened #31 ""JSR-303 validator failed to initialize" warning during the build."
During maven build following warning reported:

[ERROR] JSR-303 validator failed to initialize: Unable to create a Configuration, because no Bean Validation provider could be found. Add a provider like Hibernate Validator (RI) to your classpath. (see http://www.jcabi.com/jcabi-aspects/jsr-303.html)

[2015-01-28 19:52] yegor256 commented on #31
it's just a warning, not really a bug

[2015-01-28 19:52] #31 closed

[2015-01-28 20:29] nhekfqn commented on #8
@dmarkov Related PR has been merged.

[2015-01-28 20:29] nhekfqn commented on #8
@carlosmiranda Could you close the ticket please?

[2015-01-28 23:30] carlosmiranda commented on #8
@nhekfqn Looks good, thanks! Closing...

[2015-01-28 23:30] #8 closed

[2015-01-29 07:28] nhekfqn commented on #8
@dmarkov The ticket has been closed.

[2015-01-31 14:51] apocarteres commented on #28
@dmarkov i have added test to prove the issue, also added puzzle there. Please find someone to work on that puzzle.

[2015-01-31 19:12] apocarteres commented on #28
@yegor256 what do you think about PR with test and puzzle for this issue? I think it's out of issue's scope to make a decision should H2Data support mentioned functionality or not, moreover to add/remove such functionality.

[2015-01-31 19:58] pinaf commented on #28
@apocarteres We need class `H2Data` to support such functionality - it currently does not. If you look at issue #7 you'll see the solution was to use Base32 encoding. However #7 only did this for table names. In this issue we need it for column names also.

[2015-02-02 09:23] dmarkov commented on #8
@nhekfqn **30 mins** added to your account (payment number `51004274`), many thanks for your contribution!; +30 added to your rating, current score is: [+135](http://www.netbout.com/b/35123?open=rating)

[2015-02-02 12:36] krzyk opened #33 "PDD check is missing in travis configuration"
Travis configuration doesn't have PDD check while rultor config has it.

Please add `pdd --source=$(pwd) --verbose --file=/dev/null` to .travis.yml.

[2015-02-02 12:47] yegor256 commented on #33
@krzyk thanks, fixed

[2015-02-02 12:47] #33 closed

[2015-02-03 06:28] apocarteres commented on #28
@pinaf i see, let me discuss it with Yegor, please

[2015-02-03 06:29] apocarteres commented on #28
@dmarkov it's needed more time here

[2015-02-05 21:30] pinaf commented on #28
@apocarteres any progress?

[2015-02-06 07:11] dmarkov commented on #28
@apocarteres agreed, take your time

[2015-02-06 07:11] dmarkov commented on #8
2 puzzles were created here: `8-abdd4627`, `8-81cf3845`

[2015-02-06 09:25] apocarteres commented on #28
@pinaf waiting for @yegor256 comments

[2015-02-06 16:23] yegor256 commented on #28
@apocarteres sure, reproducing a problem is a good solution. check this article: http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2015-02-06 16:31] apocarteres commented on #28
@yegor256 ok thanks
@pinaf well, i have created PR with test to prove that <code>H2Data</code> doesn't support such symbols you mentioned above. Also the puzzle created with ask to implement such functions if they should be implemented. I think the next step is guys make new task to solve the puzzle and add requested features then.

[2015-02-06 16:49] pinaf commented on #28
@apocarteres ok, let's get it to pass the code review :)

[2015-02-08 08:28] apocarteres commented on #28
https://github.com/pinaf test added and merged. please check

[2015-02-08 17:09] pinaf commented on #28
@apocarteres thanks!

[2015-02-08 17:09] #28 closed

[2015-02-09 01:19] pinaf opened #34 "H2Data should support COLUMNS with special characters"
Let's use Base32 encoding on column names, just like we do for table names. See #7 for reference to table names encoding. When finished, please remove `@todo` from `H2DataTest` line 143.

[2015-02-09 07:14] yegor256 commented on #34
project managers convert puzzles into tasks, no need to submit them separately

[2015-02-09 07:14] #34 closed

[2015-02-10 07:51] dmarkov commented on #28
@apocarteres **30 mins** was added to your account, many thanks for your contribution!; +30 to your rating, your total score is [+255](http://www.netbout.com/b/35111?open=rating)

[2015-02-10 18:13] longtimeago commented on #28
@yegor256 looks like we need to release new version of jcabi-dynamo to proceed with yegor/s3auth#90

[2015-02-10 18:18] pinaf commented on #28
@longtimeago also the functionality isn't there yet.

[2015-02-10 18:19] longtimeago commented on #28
@pinaf ahr .... still blocked :(

[2015-02-13 22:44] yegor256 commented on #17
@php-coder I fixed the typo, see 4e0e9e1 Please close the ticket. Thanks!

[2015-02-14 11:20] php-coder commented on #17
Right now there is a link to http://dynamo.jcabi.com/apidocs-0.18.2/com/jcabi/dynamo/retry/index.html and it also leads to 404 error.

[2015-02-14 19:04] yegor256 commented on #17
@rultor release, tag is `0.18.3`

[2015-02-14 19:05] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1976-74387624)

[2015-02-14 19:20] rultor commented on #17
Release `0.18.3` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-02-14 19:20] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1976-74387624) (took me 14min)

[2015-02-14 19:23] yegor256 commented on #17
@php-coder should be fine now, please check

[2015-02-15 04:17] php-coder commented on #17
Yes, it's fixed now.

[2015-02-15 04:17] #17 closed

[2015-02-17 08:40] dmarkov commented on #17
@yegor256 Many thanks! **30 mins** were added to your account in Transaction ID `000-0d805d2f`... +30 added to your rating, current score is: [+6000](http://www.netbout.com/b/35008?open=rating)

[2015-02-23 09:23] dmarkov opened #35 "MkTable.java:106-107: Implement MkTable.delete() operation. delete() method..."
Puzzle `8-abdd4627` in `src/main/java/com/jcabi/dynamo/mock/MkTable.java:106-107` has to be resolved: Implement MkTable.delete() operation. delete() method added to Table interface and implemented in AwsTable class so far.... The puzzle was created by Nikolay Popov on 28-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-02-23 09:25] dmarkov commented on #35
@nhekfqn the task is yours please proceed

[2015-02-23 11:09] dmarkov opened #36 "ReTable.java:101-102: Implement ReTable.delete() operation. delete() method..."
Puzzle `8-81cf3845` in `src/main/java/com/jcabi/dynamo/retry/ReTable.java:101-102` has to be resolved: Implement ReTable.delete() operation. delete() method added to Table interface and implemented in AwsTable class so far.... The puzzle was created by Nikolay Popov on 28-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-02-23 11:11] dmarkov commented on #36
@apocarteres it's in your hands now, please proceed

[2015-02-25 07:19] dmarkov commented on #10
@yegor256 right, I added the `bug` tag

[2015-02-26 07:15] dmarkov commented on #10
we will find someone to do this task, soon

[2015-02-26 07:18] dmarkov commented on #10
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-ec5c2eb1`

[2015-04-07 09:00] dmarkov opened #37 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 11:46] dmarkov opened #38 "0.19"
Please, publish a new release **0.19** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-09 08:03] dmarkov opened #39 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-09 18:50] yegor256 opened #40 "ReIterator shouldn't retry on java.util.NoSuchElementException"
`ReIterator` shouldn't retry on `java.util.NoSuchElementException`

[2015-05-09 19:03] yegor256 commented on #40
@rultor release, tag is `0.18.4`

[2015-05-09 19:04] rultor commented on #40
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3721-100530408)

[2015-05-09 19:14] rultor commented on #40
Release `0.18.4` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-09 19:14] rultor commented on #40
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3721-100530408) (took me 9min)

[2015-05-09 19:17] #40 closed

[2015-05-12 07:01] dmarkov commented on #38
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 07:51] dmarkov commented on #38
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-20 07:17] dmarkov commented on #10
@tousifkhan please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 07:17] dmarkov commented on #35
@yamstranger the issue is yours, please help

[2015-05-20 07:17] dmarkov commented on #36
@super132 please proceed, it's yours

[2015-05-26 00:16] super132 commented on #36
@dmarkov , PR #41 fixed this issue. Would you please close this ticket? Thanks.

[2015-05-26 09:39] super132 commented on #36
@nhekfqn , the puzzle is fixed by PR #41 , would you please close this ticket? Thanks

[2015-05-27 00:21] super132 commented on #36
@dmarkov could you please close this ticket? Thanks.

[2015-05-27 08:55] super132 commented on #36
@dmarkov could you please close this ticket as this is a puzzle and need to be closed by you. Thanks.

[2015-05-28 05:52] YamStranger commented on #35
@dmarkov assign to someone else. Sorry.  It seems I was in @away mode when this task was assigned. @yegor256 can you check it please? Thanks.

[2015-05-28 07:52] dmarkov commented on #35
@yamstranger -30 points to your rating

[2015-05-28 07:52] dmarkov commented on #35
@yamstranger I will try to find someone else

[2015-05-28 10:54] dmarkov commented on #36
@yegor256 Thanks all, closed

[2015-05-28 10:54] #36 closed

[2015-05-28 10:56] dmarkov commented on #36
@super132 paid, thanks, added **30 mins** to your account, payment `AP-7JT71079BA035134P`, 170 hours and 24 mins was spent. +30 added to your rating, current score is: [+241](http://www.netbout.com/b/35282?open=rating)

[2015-06-01 08:33] dmarkov commented on #39
@yegor256 Closing..

[2015-06-01 08:33] #39 closed

[2015-06-04 08:31] dmarkov commented on #37
@yegor256 We are done here, thanks all

[2015-06-04 08:31] #37 closed

[2015-06-04 08:31] dmarkov commented on #38
@yegor256 Closing..

[2015-06-04 08:31] #38 closed

[2015-06-04 08:32] dmarkov commented on #10
@tousifkhan you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is: [-30

[2015-06-09 07:39] dmarkov commented on #10
@tousifkhan it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; added -60 to your rating, now it is equal to [-120](http://www.netbout.com/b/35305?open=rating)

[2015-06-09 12:17] dmarkov commented on #35
@tousifkhan please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](htt

[2015-06-10 10:46] YamStranger opened #42 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-12 06:51] simonjenga opened #44 "duplicate validations on interface & implementation"
Why are there duplicate validations on both an Interface and it's implementation.

[2015-06-15 07:52] dmarkov commented on #42
@yegor256 please do something about this issue

[2015-06-15 07:52] dmarkov commented on #44
@yegor256 please pay attention to this issue

[2015-06-15 09:24] dmarkov commented on #10
@suseika could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-06-16 05:21] Suseika commented on #10
@yegor256

Aren't these two distinct responsibilities that should be assigned to distinct classes?

[2015-06-16 06:49] Suseika commented on #10
@yegor256 Is this implementation ok?

[2015-06-16 22:00] yegor256 commented on #10
@Suseika yeah, looks like a good starting point, thanks!

[2015-06-16 22:16] Suseika commented on #10
@dmarkov The task is completed.

[2015-06-18 03:24] Suseika commented on #10
@yegor256 Is this ready to be closed?

[2015-06-18 03:35] yegor256 commented on #10
@Suseika in which pull request was it fixed?

[2015-06-18 03:37] Suseika commented on #10
@yegor256 Ah, sorry, you're right, it wasn't. #45 is just a starting point.

[2015-06-18 04:24] yegor256 commented on #10
@Suseika thanks!

[2015-06-18 04:24] #10 closed

[2015-06-18 11:02] Suseika commented on #10
@dmarkov Please pay for this task.

[2015-06-18 20:49] Suseika commented on #10
@dmarkov This problem is solved with #45

[2015-06-19 08:46] dmarkov commented on #10
@suseika I just added **38 mins** to your account, many thanks for your contribution (AP-6FF45764YP578332R).. 70 hours and 13 mins spent here. the bonus for fast delivery (m=4213). +38 to your rating, your total score is [+128](http://www.netbout.com/b/35381?open=rating)

[2015-06-19 08:47] Suseika commented on #10
@dmarkov Thanks!

[2015-06-19 12:02] dmarkov opened #46 "Throughput.java:76-76: The exact algorithm for figuring..."
Puzzle `10-d74a245f` in `src/main/java/com/jcabi/dynamo/Throughput.java:76-76` has to be resolved: The exact algorithm for figuring out read and write... The puzzle was created by Suseika on 16-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-19 12:02] dmarkov commented on #10
@yegor256 the code made here contains a puzzle `10-d74a245f`/#46, which will be resolved soon

[2015-06-23 21:29] yegor256 commented on #42
@YamStranger fixed already in https://github.com/jcabi/jcabi-dynamo/commit/2797b4f8a91b54956a48c2d76477df061fb7f249 thanks

[2015-06-23 21:29] #42 closed

[2015-06-24 01:44] yegor256 commented on #44
@simonjenga what exactly do you have in mind? Can you give an example?

[2015-06-24 13:08] dmarkov commented on #35
@tousifkhan you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). do not forget that you should remove the `@t

[2015-07-04 10:18] simonjenga commented on #44
Interface
[code]

Implementation

[code]

[2015-07-08 07:38] simonjenga commented on #44
https://github.com/jcabi/jcabi-github/issues/1121

[2015-07-08 07:38] #44 closed

[2015-07-09 10:59] dmarkov commented on #35
@suseika the task is yours please proceed

[2015-07-12 15:58] Suseika opened #47 "It is not clear how we're supposed to use MkData"
Its `put()` and `update()` methods have nearly identical description in the javadoc. It is not clear what is the `keys` parameter in the `update()` method for.

The javadoc text for the methods should tell what is the difference between them and what excaclty the `keys` parameter is for.

[2015-07-12 16:00] Suseika opened #48 "H2DataTest doesn't use update method of MkData interface"
`MkData#update` method is not covered by `H2DataTest` unit test, and it should be.

[2015-07-12 18:55] Suseika opened #49 "`String table` parameter in MkData methods doesn't make sense"
`MkData` represents data of a table. Conceptually it is wrong to require table's name to search for data in an object that represents the data of a table, because table name should not matter. But each of `MkData` methods requires a table name as a parameter. Clients of MkData are not supposed to know the name of the table, because there is no table — only its records.

Now, I see why that paramet

[2015-07-14 22:11] Suseika commented on #35
@dmarkov I need more time

[2015-07-15 08:51] dmarkov commented on #35
@suseika sure, thanks for telling me, take your time

[2015-07-16 07:22] dmarkov commented on #49
@yegor256 please pay attention to this issue

[2015-07-16 07:22] dmarkov commented on #47
@yegor256 please do something about this issue

[2015-07-16 07:22] dmarkov commented on #48
@yegor256 dispatch this issue please

[2015-07-17 08:46] dmarkov commented on #48
@super132 the task is yours (budget is 30 mins)

[2015-07-17 08:46] dmarkov commented on #49
@super132 it's yours, budget is 30 mins, please go ahead

[2015-07-17 08:46] dmarkov commented on #47
@yegor256 it's yours, please help, budget is 30 mins

[2015-07-17 08:46] dmarkov commented on #49
@suseika thanks for reporting! I topped your account for 15 mins, transaction AP-7B600112YF3310800

[2015-07-17 09:58] dmarkov commented on #48
@suseika thanks for the report, I topped your acc for 15 mins, payment ID `AP-1DT02337V2313784N`

[2015-07-17 10:43] dmarkov commented on #47
@suseika thanks for the ticket, your account was topped for 15 mins, payment AP-6CM23403U65161007

[2015-07-17 10:50] super132 commented on #49
@Suseika I think the assumption here with `MkData` represents data of a table is wrong may be? From the code, the design of `MkData` should represent a *database* instead of a table. There is a `Table` interface which represents a table instead. Does it make sense to you? Thanks.

[2015-07-17 13:01] Suseika commented on #49
@super132 `MkData` doesn't represent a database, if by database you mean something we connect to and not just a generalized data storage. And I didn't mean that `MkData` currently represents a table. `MkData` represents relational data without the notion of it being in a table or anywhere else (that's why `table` parameter in `MkData` methods is redundant).

[2015-07-18 00:29] super132 commented on #48
@Suseika PR #51 fixes this issue. Please close this ticket. Thanks.

[2015-07-19 16:30] #48 closed

[2015-07-20 04:55] super132 commented on #49
@Suseika I think I understand what you mean here. You're proposing that `MkData` should represent data of a table instead of data of a collection of tables. I will revise the codes here to make it behave like this. Thanks.

[2015-07-21 02:29] super132 commented on #49
@dmarkov Please review PR #52. Thanks.

[2015-07-21 08:04] dmarkov commented on #49
@super132 will take a look, thanks

[2015-07-22 09:45] dmarkov commented on #48
@super132 Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-4JH07221GX367560K`, the task took 95 hours and 19 mins)

+30 added to your rating, at the moment it is: [+841](http://www.netbout.com/b/35282?open=rating)

[2015-07-23 04:44] yegor256 commented on #49
@Suseika @super132 I think we're doing something wrong here... how about this code:

[code]

It has to work, but after that pull request it will fail. Or I'm wrong?

[2015-07-23 05:52] super132 commented on #49
@dmarkov need more time here.

[2015-07-23 05:59] super132 commented on #49
@yegor256 By definition of this ticket now, `H2Data` is no longer represents a collection of table but the underlying implementation of data store of **a Table**. Therefore, `H2Data.with` no longer work this way and no extra table is created. Do you agree on this design?

If yes, to achieve what we could do in the codes above, I think we need to change the constructor of `MkRegion` to accept an it

[2015-07-23 06:45] yegor256 commented on #49
@super132 I think that the ticket is wrong in general and should be closed (you will be paid anyway). Let's wait for @Suseika opinion

[2015-07-23 08:06] dmarkov commented on #49
@super132 no problem, thanks for letting me know

[2015-07-23 08:10] Suseika commented on #49
@yegor256 Okay, let's close it.

[2015-07-23 18:10] yegor256 commented on #49
@Suseika do you agree with my argument?

[2015-07-26 21:29] Suseika commented on #49
@yegor256 Yeah, I misunderstood the purpose of `MkData` interface, my bad. Let's close this issue.

[2015-07-27 01:57] super132 commented on #49
@Suseika Please kindly close the ticket as it can only be closed by reporter. Thanks.

[2015-07-27 08:30] yegor256 commented on #49
@Suseika yes, indeed, please close it. thanks.

[2015-07-27 10:00] #49 closed

[2015-07-28 12:25] dmarkov commented on #49
@super132 Much appreciated! **30 mins** was added to your account, payment ID `AP-14999266A28211604`, time spent is 242 hours and 57 mins... +30 added to your rating, current score is: [+1086](http://www.netbout.com/b/35282?open=rating)

[2015-07-28 21:04] Suseika commented on #35
@dmarkov Fixed in #50

[2015-07-29 08:23] dmarkov commented on #35
@rultor rultor closed it (automatically), @dmarkov please take a look

[2015-07-31 18:52] Suseika opened #53 "AwsTable#keys() method is not covered by unit tests"

[2015-07-31 18:59] Suseika opened #54 "AwsTable#print needs to be extracted in a separate class"
`AwsTable#print` is a pubilc static method that operates on public methods of its argument `ConsumedCapacity`. It could be made into an instance method of `PrintableConsumedCapacity` class, so we have one less public static method in our codebase.

[2015-07-31 19:07] Suseika opened #55 "AttributeUpdates class does not have any unit tests"
There are plenty of non-trivial methods that are actively used across our codebase, but none of them are tested.

[2015-07-31 19:17] Suseika opened #56 "NotNull annotations are inconsistently used"
There are many classes that contain methods whose arguments are annotated with `@NotNull`, and also some methods that don't have those annotations. I'm speaking strictly about methods whose parameters are descendants of `Object`.

For example, `AttributeUpdates#with(String,AttributeValue)` and `AttributeUpdates#with(String,Object)` methods lack `@NotNull` validation for their arguments. Other `Att

[2015-08-03 08:04] dmarkov commented on #35
@yegor256 We are done here, thanks all

[2015-08-03 08:04] #35 closed

[2015-08-03 08:05] dmarkov commented on #35
@suseika **30 mins** was added to your account, many thanks for your contribution (payment AP-6G388493XC298292C)! The task took 504 hours and 38 mins.; +30 added to your rating, at the moment it is: [+578](http://www.netbout.com/b/35381?open=rating)

[2015-08-04 08:03] dmarkov commented on #54
@yegor256 please pay attention to this issue

[2015-08-04 08:03] dmarkov commented on #55
@yegor256 please pay attention to this issue

[2015-08-04 08:03] dmarkov commented on #56
@yegor256 please dispatch this issue

[2015-08-04 08:03] dmarkov commented on #53
@yegor256 please do something about this issue

[2015-08-04 08:47] yegor256 commented on #54
@Suseika good catch, thanks

[2015-08-04 08:52] yegor256 commented on #56
@Suseika right, let's make sure we have `NotNull` everywhere

[2015-08-04 10:01] dmarkov commented on #56
@suseika thanks for this report, I added 15 mins to your account, in transaction `AP-5CU20142KS901154G`

[2015-08-04 12:12] dmarkov commented on #55
@suseika many thanks for the bug report, I added 15 mins to your acc, transaction `AP-5EA642900D542153G`

[2015-08-04 13:38] dmarkov commented on #54
@suseika many thanks for the bug report, I added 15 mins to your acc, transaction `AP-87Y22228UH650533B`

[2015-08-05 08:07] dmarkov commented on #53
@suseika thanks for the report, I topped your acc for 15 mins, payment ID `AP-7AT19864H4996472E`

[2015-08-14 00:24] nan-zhong opened #57 "Can't retrieve attributes with uppercase letters"
Since dynamodb attribute names are case sensitive, what is the reason to convert all attribute name to lowercase in AwsItem and Conditions classes? This makes it impossible to retrieve attributes with uppercase letters in their names. Thanks.

[2015-08-17 09:54] dmarkov commented on #57
@yegor256 please pay attention to this issue

[2015-08-17 12:20] yegor256 commented on #57
@nan-zhong looks like a bug in the library... let us fix it

[2015-08-18 07:35] dmarkov commented on #57
@suseika this is your task now, please help

[2015-08-25 07:32] ieiayaobb opened #58 "Is there any advantages compare to official ORM class"
I don't know whether this framework born earlier than the official ORM class.
So can you give more introductions compare to the official ORM class as below:
http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/JavaORMDynamoDBMapper.html
Thanks a lot

[2015-08-28 07:45] dmarkov commented on #58
@yegor256 please dispatch this issue

[2015-08-28 11:51] yegor256 commented on #58
@ieiayaobb indeed, jcabi-dynamo was created before that ORM class. So, you're free to use either jcabi-dynamo or that ORM module. But keep this in mind: http://www.yegor256.com/2014/12/01/orm-offensive-anti-pattern.html

[2015-08-28 11:51] #58 closed

[2015-09-02 08:10] dmarkov commented on #57
@suseika you're holding this task for 15 days already; -30 to your rating, your total score is [+841](http://www.netbout.com/b/35381?open=rating)

[2015-09-02 08:39] Suseika commented on #57
@dmarkov Please assign this to someone else

[2015-09-02 13:52] dmarkov commented on #57
@suseika I deducted 30 points from your rating

[2015-09-02 13:52] dmarkov commented on #57
@suseika got it, someone else will be assigned soon

[2015-09-02 13:52] dmarkov commented on #8
@carlosmiranda the last puzzle `8-abdd4627`/#35 originated from here solved

[2015-09-23 07:38] dmarkov commented on #57
@tmjee please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-23 12:08] tmjee commented on #57
@dmarkov presume this is for all attributes which involves
- Attributes
- AttributesUpdates
and not only AwsItem and Conditions.

[2015-09-24 03:48] tmjee commented on #57
@dmarkov fixed in #59

[2015-09-24 10:52] dmarkov commented on #57
@tmjee address all technical questions to the author of the ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-09-24 10:52] dmarkov commented on #57
@tmjee thanks, we'll review it soon

[2015-09-30 03:12] tmjee commented on #57
@dmarkov Can we close this issue please. Thx

[2015-09-30 18:00] nan-zhong commented on #57
Thanks for fixing it!

[2015-09-30 18:00] #57 closed

[2015-10-01 07:40] dmarkov commented on #57
@tmjee you should ask ticket author to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-02 10:19] dmarkov commented on #57
@tmjee I added **30 mins** to your account, many thanks for working with the project! The completion time here was AP-0XV32095YX6507422.; added +30 to your rating, now it is equal to [+75](http://www.netbout.com/b/35603?open=rating)

[2015-10-02 13:14] dmarkov commented on #56
@tmjee please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-03 09:21] tmjee opened #60 "Integration tests fail @NotNull constraints"
When fixing #56,  the following integration tests failed. It should be mostly due to mock data attributes being null. added @todo and @Ignore to those tests

- AwsIteratorITCase
- RegionITCase

[2015-10-03 10:23] tmjee commented on #56
@dmarkov fixed in pull request #61

[2015-10-06 07:53] dmarkov commented on #56
@tmjee ok thanks

[2015-10-06 09:57] dmarkov commented on #60
@yegor256 please do something about this issue

[2015-10-06 20:34] yegor256 commented on #60
@tmjee I didn't understand what is the problem. How can I reproduce it?

[2015-10-07 00:13] sarnobat opened #62 "Can't get integration test to work"
Note I had to append the suffix "Test" to the file name so that mvn test would execute it.

[code]

[2015-10-07 23:22] tmjee commented on #60
@yegor256  I ran the following
[code]
and some those integration tests failed when aspectj kicks in checking not null on annotated parameters.

[2015-10-07 23:30] yegor256 commented on #60
@tmjee but travis build is clean... and I just ran it locally - it's clean.

[2015-10-08 09:32] tmjee commented on #60
@yegor256 I'm getting the following failures. Having said that it might be just my configurations. More than happy to close this.
[code]

and this

[code]

Tests in error:
  AwsIteratorITCase.iteratesItems:59 » ConstraintViolation attribute capacity ca...
  AwsIteratorITCase.iteratesItemsAndDeletes:80 » ConstraintViolation attribute c...
  RegionITCase.retrievesAttributesFromDynamo:126 » Constrain

[2015-10-08 09:56] tmjee commented on #60
Closing issue. Cannot be reproduce.

[2015-10-08 09:56] #60 closed

[2015-10-12 14:29] simonjenga opened #63 "unused variable in MkFrame#through(Valve)"
While we are at ```com.jcabi.dynamo.mock.MkFrame.through(Valve)```,
shouldn't we ```return this.through(valve);``` instead of the implemented```return this;```?

[2015-10-13 07:13] dmarkov opened #64 "AwsIteratorITCase.java:51-53: Integration test fail when adding..."
Puzzle `56-be65f863` in `src/test/java/com/jcabi/dynamo/AwsIteratorITCase.java:51-53` has to be resolved: Integration test fail when adding @NotNull constraint this should be fixed in methods AwsIteratorITCase.iteratesItems() and AwsIteratorITCase.iteratesItemsAndDeletes(). Also see RegionITCase... The puzzle was created by tkjee on 5-Oct-2015.

If you have any technical questions, don't ask me, s

[2015-10-13 07:13] dmarkov commented on #56
@suseika these 2 puzzles were created in this ticket: `56-be65f863`/#64, `56-9ee1f8fe`

[2015-10-13 07:15] dmarkov commented on #62
@yegor256 please do something about this issue

[2015-10-13 08:22] dmarkov opened #65 "RegionITCase.java:53-56: integration test fails when adding..."
Puzzle `56-9ee1f8fe` in `src/test/java/com/jcabi/dynamo/RegionITCase.java:53-56` has to be resolved: integration test fails when adding @notnull to constraints this needs to be fixed in methods RegionITCase.worksWithAmazon() and RegionITCase.retrievesAttributesFromDynamo(). Also see AwsIteratorITCase.... The puzzle was created by tkjee on 5-Oct-2015.

If you have any technical questions, don't ask

[2015-10-15 18:51] yegor256 commented on #47
@dmarkov assign someone else pls

[2015-10-16 09:34] dmarkov commented on #47
@yegor256 -30 points to your rating :(

[2015-10-16 09:34] dmarkov commented on #47
@yegor256 I will ask somebody else to pick this up

[2015-10-16 09:36] dmarkov commented on #63
@yegor256 dispatch this issue please

[2015-10-16 21:22] yegor256 commented on #63
@simonjenga not sure I got the idea... what you're suggesting will cause an endless recursion. Or I miss something?

[2015-10-17 05:29] yegor256 commented on #62
@sarnobat it's integration test, you're not supposed to run it with `mvn test`. You should run it with `mvn install`. It fails, because maven doesn't run some preliminary plugins, on `pre-integration-test` phase.

[2015-10-17 05:29] #62 closed

[2015-10-17 06:51] simonjenga commented on #63
@yegor256 endless recursion? There needs to be way to make use of the parameter passed in that method. It's not currently being used.

You may also try to ```return new MkFrame(this.data, this.tbl).through(valve);```

[2015-10-20 16:48] yegor256 commented on #63
@simonjenga ah, I see. But we don't need this param for a mock version of `Frame`. We simply don't care what the `Valve` is, since we always return fast. The "valve" is used in order to optimize the search. We don't need any optimization in the mock.

[2015-10-20 16:48] #63 closed

[2015-11-10 07:05] dmarkov commented on #64
@olegsimanov can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-11-10 20:36] olegsimanov commented on #64
Hi,
I forked, cloned and ran all mvn tests in the project.  As result there were no failing tests.
After I commented out @Ignore annotation for iteratesItems() and iteratesItemsAndDeletes() in  <code>src/test/java/com/jcabi/dynamo/AwsIteratorITCase.java</code>
and run: <code>mvn test -Dtest=com.jcabi.dynamo.AwsIteratorITCase</code>
they failed with a NumberFormatException wrapped into ExceptionInI

[2015-11-11 20:28] olegsimanov opened #67 "Problem running AwsIteratorITCase.java test"
Hi,
I forked, cloned and ran all mvn tests in the project.  As result there were no failing tests.
After I commented out @Ignore annotation for iteratesItems() and iteratesItemsAndDeletes() in  <code>src/test/java/com/jcabi/dynamo/AwsIteratorITCase.java</code>
and run: <code>mvn test -Dtest=com.jcabi.dynamo.AwsIteratorITCase</code>
they failed with a NumberFormatException wrapped into ExceptionInI

[2015-11-11 20:33] olegsimanov commented on #64
Hi,
I forked, cloned and ran all mvn tests in the project.  As result there were no failing tests.
After I commented out @Ignore annotation for iteratesItems() and iteratesItemsAndDeletes() in  <code>src/test/java/com/jcabi/dynamo/AwsIteratorITCase.java</code>
and run: <code>mvn test -Dtest=com.jcabi.dynamo.AwsIteratorITCase</code>
they failed with a NumberFormatException wrapped into ExceptionInI

[2015-11-16 09:20] dmarkov commented on #67
@yegor256 please dispatch this issue

[2015-11-16 22:32] yegor256 commented on #67
@olegsimanov these tests must be run by maven-failsafe-plugin, not by maven-surefire-plugin, like you're doing now. Always run `mvn clean install`, if you're not sure.

[2015-11-17 10:56] #67 closed

[2015-11-17 10:57] olegsimanov commented on #67
Thank you for the answer

[2015-11-25 08:33] dmarkov commented on #64
@olegsimanov the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... do not forget that you should remove the `@todo` puzzle fro

[2015-11-30 08:26] dmarkov commented on #64
@olegsimanov it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, at the moment it is: [-180](http://www.netbout.com/b/35927?open=rating)

[2015-12-10 07:15] dmarkov commented on #64
@jrdalpra the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-10 07:15] dmarkov commented on #65
@piddubnyi please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-10 11:24] jrdalpra commented on #64
@dmarkov there's no need to have a AWS Credential to run the tests, right? Everything is mocked?

[2015-12-11 07:50] dmarkov commented on #64
@jrdalpra please, don't ask technical questions here, check this: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-12-21 16:50] yegor256 opened #69 "get rid of validation api"

[2015-12-21 16:50] #69 closed

[2015-12-21 17:39] yegor256 commented on #69
@rultor release, tag is `0.19`

[2015-12-21 17:40] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6023-166369601)

[2015-12-21 17:59] yegor256 commented on #69
@rultor stop

[2015-12-21 17:59] rultor commented on #69
@yegor256 OK, I'll try to stop current task.

[2015-12-21 18:01] rultor commented on #69
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6023-166375368) (spent 21min)

[code]

[2015-12-21 18:09] yegor256 commented on #69
@rultor release, tag is `0.19`

[2015-12-21 18:09] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6023-166377506)

[2015-12-21 18:29] rultor commented on #69
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6023-166377506) (took me 20min)

[2015-12-21 18:58] jrdalpra commented on #64
@dmarkov @yegor256 Can we close this issue?

[2015-12-22 10:02] jrdalpra commented on #64
@dmarkov @yegor256 @dmzaytsev PR merged and task still open at netbout. How can we solve it?

[2015-12-22 11:06] dmarkov commented on #64
@jrdalpra did you remove the puzzle from the source code?

[2015-12-22 11:36] jrdalpra commented on #64
@dmarkov you say from javadoc?

[2015-12-22 11:56] jrdalpra commented on #64
@dmarkov If it's about the TODO at javadoc I made a PR to solved it.

[2015-12-22 19:53] jrdalpra commented on #64
@dmarkov PR merge by rultor

[2015-12-23 08:20] dmarkov commented on #64
@jrdalpra you have to remove the puzzle from the source code, it's important

[2015-12-23 09:59] jrdalpra commented on #64
@dmarkov I think I'm not getting the point of "solve the puzzle". I solved it (problem is not at our tool) and removed the TODO at source code. There's more to do to solve it? Thanks.

[2015-12-23 12:48] dmarkov commented on #64
@jrdalpra if you solved the problem and removed the puzzle, you're done, just wait

[2015-12-23 12:53] jrdalpra commented on #64
@dmarkov ok. If you can close all tasks at netbout I'll be thankful.
I want to get more tasks so I can get the points needed to pass from test phase at teamed.io. Thanks.

[2015-12-24 10:00] jrdalpra commented on #64
@dmarkov rultor deployed the project. :)

Now you can close the issue.

Thanks.

[2015-12-25 07:01] dmarkov commented on #64
@jrdalpra give me some time, it doesn't happen immediately

[2015-12-25 07:01] dmarkov commented on #64
@jrdalpra sure, will do

[2015-12-25 10:23] dmarkov commented on #65
@piddubnyi the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget that you should remove the `@todo` puzzle from th

[2015-12-25 12:39] dmarkov commented on #64
@yegor256 Closing this issue now...

[2015-12-25 12:39] #64 closed

[2015-12-25 12:40] dmarkov commented on #64
@jrdalpra thank you, added **30 mins** to your acc, payment num is `AP-67B614044S0882521`, 339 hours and 12 mins spent in total to complete... added +30 to your rating, now it is equal to [+60](http://www.netbout.com/b/36044?open=rating)

[2015-12-30 09:06] dmarkov commented on #65
@piddubnyi you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is [-90](http://www.netbout.com/b/35966?open=rating)

[2016-02-01 07:20] dmarkov commented on #65
@nikoladespotoski this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-16 07:44] NikolaDespotoski commented on #65
@dmarkov assign someone else

[2016-02-16 10:50] dmarkov commented on #65
@nikoladespotoski I will ask somebody else to pick this up

[2016-02-23 20:00] yegor256 opened #72 "exceptions are not descriptive enough"
Exceptions are not descriptive enough

[2016-02-23 20:00] #72 closed

[2016-02-23 20:50] yegor256 commented on #72
@rultor release, tag is `0.20`

[2016-02-23 20:50] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7243-187897730)

[2016-02-23 21:08] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7243-187897730) (took me 18min)

[2016-03-14 22:28] yegor256 opened #73 "Frame.size() must be fast"
We must calculate size faster than through iterating over the entire list.

[2016-03-14 22:28] #73 closed

[2016-03-15 00:44] yegor256 commented on #73
@rultor release, tag is `0.21`

[2016-03-15 00:44] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7689-196587693)

[2016-03-15 01:06] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7689-196587693) (took me 22min)

[2016-03-15 09:51] dmarkov commented on #65
@amihaiemil it's your task, go ahead

[2016-03-17 17:24] amihaiemil commented on #65
@dmarkov I created PR #74 for this issue. Please assign a reviewer. Thanks.

[2016-03-22 04:30] amihaiemil commented on #65
@dmarkov PR #74 has been merged and closed. Please deploy it and close this issue. Thanks.

[2016-03-23 13:47] dmarkov opened #75 "Throughput.java:72-74: The exact algorithm for figuring..."
Puzzle `10-41088ed2` in `src/main/java/com/jcabi/dynamo/Throughput.java:72-74` has to be resolved: The exact algorithm for figuring out read and write capacities should be based on a CloudWatch metric accessed with credentials of this.table.region().aws().... The puzzle was created by Yegor Bugayenko on 23-Feb-2016.

If you have any technical questions, don't ask me, submit new tickets instead. Th

[2016-03-24 07:30] dmarkov commented on #65
@amihaiemil OK

[2016-03-24 07:30] dmarkov commented on #65
@amihaiemil OK

[2016-03-25 08:05] #46 closed

[2016-03-25 08:05] #65 closed

[2016-03-25 08:05] dmarkov commented on #46
@yegor256 Thanks all, I am closing

[2016-03-25 08:05] dmarkov commented on #65
@yegor256 Thanks, closing it now.

[2016-03-25 08:06] dmarkov commented on #65
@amihaiemil paid, thanks, added **30 mins** to your account, payment `AP-72J92236DR009805V`, 195 hours and 56 mins was spent... +30 to your rating, your total score is [+165](http://www.netbout.com/b/36402?open=rating)

[2016-04-14 13:38] dmarkov commented on #56
@amihaiemil the task is yours please proceed

[2016-04-14 21:52] amihaiemil commented on #56
@Suseika The validation api was removed entirely from this project in December 2015 (issue #69, commit 049577d89f405d4ee24ff01388bfb83c9e416b13) . This ticket is not valid anymore, so please close it. Thanks.

[2016-04-15 09:01] #56 closed

[2016-04-18 08:02] dmarkov commented on #56
@amihaiemil thank you, added **1 hour** to your acc, payment num is `AP-1V285136TC829420D`, 19 hours and 26 mins spent in total to complete... there is a bonus for fast delivery (m=1166)... +60 added to your rating, current score is: [+300](http://www.netbout.com/b/36402?open=rating)

[2016-04-27 16:00] yegor256 opened #76 "QueryValve.count() doesn't respect consistent"

[2016-04-27 16:00] #76 closed

[2016-04-27 16:04] yegor256 commented on #76
@rultor release, tag is `0.21.1`

[2016-04-27 16:05] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8163-215132194)

[2016-04-27 16:25] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8163-215132194) (took me 20min)

[2016-05-04 12:04] dmarkov commented on #56
@suseika last puzzled solved `56-9ee1f8fe`/#65

[2016-05-25 07:10] yegor256 opened #77 "jcabi-aspects 0.22.5"
Let's upgrade it

[2016-05-25 07:10] #77 closed

[2016-05-25 07:56] yegor256 commented on #77
@rultor release, tag is `0.21.2`

[2016-05-25 07:56] rultor commented on #77
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8494-221500048)

[2016-05-25 08:18] rultor commented on #77
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8494-221500048) (took me 22min)

[2016-08-17 06:50] piotrkot opened #78 "Non-existent table with local dynamoDB"
I am running local dynamoDB (2016-05-17) on port 8000. As described [here](https://aws.amazon.com/blogs/aws/dynamodb-local-for-desktop-development/) the local jar file is created - cUniqueSessionID_us-west-2.db.
New table - users - was successfully created from local Javascript shell
[code]
I am able to add an item to the table from local Javascript shell but not from jcabi-dynamo.

This is not wo

[2016-08-17 06:52] piotrkot commented on #78
Also tried defining region explicitly with `new Credentials.Simple("cUniqueSessionID", "", "us-west-2")` but the exception was the same.

[2016-08-17 06:53] piotrkot commented on #78
FYI: I am running jcabi-dynamo v0.20.

[2016-08-22 08:18] dmarkov commented on #78
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-24 09:51] dmarkov commented on #55
@amihaiemil please help, the task is yours

[2016-08-24 14:36] amihaiemil opened #80 "Bug in AttributeUpdates.containsValue(Object)"
Method `containsValue()` from [this](https://github.com/jcabi/jcabi-dynamo/blob/master/src/main/java/com/jcabi/dynamo/AttributeUpdates.java) class should apply the same logic as `with(String, Object)` before calling `this.attrs.containsValue(value)`

This is because currently this test

[code]

**fails**. In order for the `containsValue()` to return true, the client has to wrap the original value

[2016-08-24 14:42] amihaiemil commented on #55
@dmarkov PR #79 is for this

[2016-08-24 18:44] amihaiemil opened #81 "Out of date dependencies"
There are some out of date dependencies, including sdk for dynamo db. They should be brought up to date.

[2016-08-25 07:35] dmarkov commented on #55
@amihaiemil thank you!

[2016-08-26 17:44] yegor256 commented on #78
@piotrkot looks like table `users` is not created. you should post your entire code, maybe I'll be able to help

[2016-08-28 10:20] piotrkot commented on #78
@yegor256 The table seems to be fine. It was created from JS shell command with following instructions:
[code]
Later I checked this table description and it also seems fine (listed in the first comment). As I said I was able to add item into the table from JavaScript shell but not from jcabi-dynamo.

[2016-08-29 10:26] dmarkov commented on #80
@yegor256 please do something about this issue

[2016-08-29 10:26] dmarkov commented on #81
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-30 05:08] piotrkot commented on #78
@yegor256 That is all the code I have. JS to create a table, JS to check table description (to verify its OK), JS to add an item, and Java code to add the item with jcabi-dynamo. The Java code throws exception.
The JS code are original snippets that the local shell (localhost:8000/shell) generated for me.

[2016-09-05 19:17] amihaiemil commented on #55
@Suseika the pr has been merged. Please close this issue.

[2016-09-05 19:17] Suseika commented on #55
@amihaiemil Thanks

[2016-09-05 19:17] #55 closed

[2016-09-06 08:05] piotrkot commented on #78
@yegor256 It is really simple to reproduce. Please, let me know what you are missing.

[2016-09-07 09:17] dmarkov commented on #55
@amihaiemil paid, thanks, added **30 mins** to your account, payment `AP-2S314565XT557845H`, 310 hours and 30 mins was spent. added +30 to your rating, now it is equal to [+503](http://www.netbout.com/b/36402?open=rating)

[2016-09-09 08:57] dmarkov commented on #54
@prondzyn please help, the task is yours

[2016-09-09 20:50] prondzyn commented on #54
@dmarkov PR #82 prepared

[2016-09-12 07:50] dmarkov commented on #54
@prondzyn thanks

[2016-09-19 03:25] prondzyn commented on #54
@dmarkov need more time. Still waiting on @yegor256 's merge in #82

[2016-09-19 08:02] dmarkov commented on #54
@prondzyn agreed, take your time

[2016-09-23 20:27] prondzyn commented on #54
@Suseika please close the task

[2016-09-23 23:44] #54 closed

[2016-09-27 10:28] dmarkov commented on #54
@prondzyn paid, thanks, added **30 mins** to your account, payment `AP-2RA22125EF354472T`, 407 hours and 19 mins was spent... +30 to your rating, your total score is [+30](http://www.netbout.com/b/35715?open=rating)

[2016-10-04 21:17] piotrkot commented on #78
@yegor256 ping

[2016-10-06 22:40] piotrkot opened #83 "GSI query"
Please, provide an example how to make a valid query using GSI (Global Secondary Index).

[2016-10-10 07:40] dmarkov commented on #83
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-10-11 19:04] piotrkot commented on #78
@dmarkov @yegor256 ping

[2016-10-16 01:45] piotrkot commented on #83
@dmarkov @yegor256 I see it takes quite a while to get a response here. Luckily, I found the answer myself.
Assuming we query table, TB, with GSI, INX, where that index has the partition key, IPK. And if we search for IPK value "val", we should call:
[code]
The most important is that if it does not work you are probably using latest release version 0.21 with the bug #76.

[2016-10-16 01:45] #83 closed

[2016-11-18 15:27] yegor256 opened #84 "let's use COUNT for Scan operations"
Instead of counting them one by one

[2016-11-18 15:27] #84 closed

[2016-11-18 15:35] yegor256 commented on #84
@rultor release, tag is `0.21.3`

[2016-11-18 15:36] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9997-261561076)

[2016-11-18 15:57] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9997-261561076) (took me 21min)

[2016-11-18 16:32] yegor256 commented on #81
@amihaiemil fixed already in the recent release

[2016-11-18 16:32] #81 closed

[2016-11-18 16:41] yegor256 commented on #78
@piotrkot honestly, I have no idea what's wrong. Obviously, jcabi-dynamo works fine with DynamoDBLocal, you can see them in a few projects, for example here: https://github.com/yegor256/jare All I can suspect is that you drop your DynamoDBLocal before running Java tests. Make sure it's not happening.

[2016-11-19 17:58] yegor256 opened #85 "MkRegion doesn't work for select/update"
Can't select attributes and update

[2016-11-19 17:58] #85 closed

[2016-11-19 18:52] toonsevrin opened #86 "conditional put"
Is there a way to conditionally put an item where the condition is checked server side (atomically)?

[2016-11-19 19:12] yegor256 commented on #85
@rultor release, tag is `0.21.4`

[2016-11-19 19:13] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10024-261733311)

[2016-11-19 19:33] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10024-261733311) (took me 20min)

[2016-11-23 07:23] dmarkov commented on #86
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-11-23 07:32] yegor256 commented on #86
@toonsevrin such a thing is not supported by Amazon. The best you can do is to use `ADD`:

[code]

Real example: https://github.com/yegor256/jare/blob/0.7.2/src/main/java/io/jare/dynamo/DyUsage.java#L158-L165

Otherwise, consider using www.stateful.co

[2016-11-24 20:09] toonsevrin commented on #86
It would be a cool addition, it's already in dynamodb natively (send update with a parameter condition, for example balance > 20$), so it should not be too hard to add, though quite essential.

[2016-12-09 21:17] orid123 opened #87 "Can I use jcabi-dynamo-0.21.4.jar with Android Studio?"
Hi
    If yes, is there any example?
Thanks
Ori

[2016-12-13 07:25] dmarkov commented on #87
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-22 08:06] dmarkov commented on #75
@yegor256 Closing this issue now...

[2016-12-22 08:06] #75 closed

[2017-01-07 04:18] yegor256 commented on #87
@orid123 I don't see why not. Try it out and report any issues, if you have them

[2017-01-07 04:18] #87 closed

[2017-05-11 12:57] 0pdd opened #88 "Throughput.java:72-74: The exact algorithm for figuring out..."
The puzzle `10-41088ed2` in [`src/main/java/com/jcabi/dynamo/Throughput.java`](https://github.com/jcabi/jcabi-dynamo/blob/master/src/main/java/com/jcabi/dynamo/Throughput.java) (lines 72-74) has to be resolved: The exact algorithm for figuring out read and write capacities should be based on a CloudWatch metric accessed with credentials of this.table.region().aws().

The puzzle was created by Yego

[2017-05-11 12:57] 0crat commented on #88
@yegor256 please, pay attention to this issue

[2017-05-23 06:14] hlkn opened #89 "Conditions support equalTo...Any intention to support >, <, >=, <=, between"
Hi Yegor,

Do you intend to support >, <, >=, <=, between in the Conditions

Or

Is there any workaround?

Thanks and Regards,
Henry

[2017-05-23 06:14] 0crat commented on #89
@yegor256 please, pay attention to this issue

[2017-05-23 06:30] yegor256 commented on #89
@hlkn you can do it with AWS Java SDK, just use their classes. There is no reason to re-implement all that in our library.

[2017-06-23 19:48] tobyatgithub commented on #78
I have a similar problem with local dynamoDB and I use python.
Initially table was all right, i created it, put items in it, and was able to scan() or query(). And after a while, the table will just disappear and become 'non-exisiting'...
I'm pretty confused since I run it locally, so there shouldn't be any user or region problem _(:зゝ∠)_

ps: i tested dynamoDB local previous ( create a table, res

[2017-10-04 21:23] l15k4 commented on #78
I've got the same problem, it's pretty strange as the table is obviously created and present, but jvm app connected to that endpoint cannot see the table https://github.com/akka/akka-persistence-dynamodb/issues/47#issuecomment-334290000

[2017-10-04 21:26] l15k4 commented on #78
Resolved here https://stackoverflow.com/a/29560004/306488

[2017-10-06 18:00] asaphoenix opened #90 "CreateTable goal does't work"
I added createTables in plugin execution and table definition json file in configuration. When I run maven integration test, the plugin printout says that the table is created. However list-tables shows there are 0 tables (both by my test and aws dynamodb command-line). I ended by writing code to create the table before the test.

[2017-10-06 18:00] 0crat commented on #90
@yegor256 please, pay attention to this issue

[2017-10-06 21:50] yegor256 commented on #90
@asaphoenix it's weird, since it works perfectly for me, in this project for example: https://github.com/yegor256/jare Are you sure you have the right configuration in pom?

[2017-10-19 07:13] #89 closed

[2017-10-19 07:14] #15 closed

[2017-10-19 07:14] 0crat commented on #15
Oops! There is no order for job `gh:jcabi/jcabi-dynamo#15`.

[2017-10-19 07:14] 0crat commented on #15
Oops! Job `gh:jcabi/jcabi-dynamo#15` was not in scope

[2017-10-19 07:14] #86 closed

[2017-11-11 01:35] aguasonic opened #93 "Update repository version?"
DynamoDB Local artefact is two years old -- can we bring it current?

[2017-11-11 01:36] 0crat commented on #93
@yegor256 please, pay attention to this issue

[2017-11-11 21:42] yegor256 commented on #93
@aguasonic I think this issue should be posted to this repo: https://github.com/jcabi/jcabi-dynamodb-maven-plugin

[2017-11-11 21:42] #93 closed

[2017-11-29 16:00] pdacostaporto opened #95 "Purpose of multiple primary keys on H2Data"
The purpose of passing multiple primary keys to `H2Data`'s `with` method is not clear. I thought it was to specify a composite primary key (for example, a combination of a hash key with a range key) but looks like it doesn't work.

For example, if I do:
[code]
I get:
[code]
which makes sense, because a table is supposed to have only one primary key.

[2017-11-29 16:00] 0crat commented on #95
@yegor256 please, pay attention to this issue

[2017-11-30 09:03] yegor256 commented on #95
@pdacostaporto seems to be a bug/problem with H2. A table in SQL may have many columns as primary key, to my knowledge. Right? Maybe you can suggest a solution?

[2017-12-14 15:31] yegor256 opened #96 "AwsFrame.isEmpty() is not effective"
It's using `size()`, which runs COUNT. It's not effective.

[2017-12-14 15:59] yegor256 commented on #96
@rultor release, tag is `0.21.5`

[2017-12-14 16:00] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13568-351752851)

[2017-12-14 16:10] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13568-351752851) (spent 10min)

[code]

[2017-12-14 16:13] yegor256 commented on #96
@rultor release, tag is `0.21.5`

[2017-12-14 16:13] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13568-351757345)

[2017-12-14 16:26] yegor256 commented on #96
@rultor stop

[2017-12-14 16:27] rultor commented on #96
@yegor256 OK, I'll try to stop current task.

[2017-12-14 16:27] rultor commented on #96
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13568-351761345) (spent 13min)

[code]

[2017-12-14 16:29] yegor256 commented on #96
@rultor release, tag is `0.21.5`

[2017-12-14 16:30] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13568-351762159)

[2017-12-14 17:01] rultor commented on #96
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13568-351762159) (took me 31min)

[2017-12-14 17:10] #96 closed

[2017-12-14 19:16] 0crat commented on #96
Oops! There is no order for job `gh:jcabi/jcabi-dynamo#96`.

[2017-12-14 19:16] 0crat commented on #96
Oops! Job `gh:jcabi/jcabi-dynamo#96` is not in scope.

[2017-12-24 17:49] 0pdd opened #97 "H2DataTest.java:147-150: <body>H2Data doesn't support..."
The puzzle `28-4427f443` from #28 has to be resolved:

https://github.com/jcabi/jcabi-dynamo/blob/13c9a625b0d3bc4eaf6ee810c6c9f79db302c00c/src/test/java/com/jcabi/dynamo/mock/H2DataTest.java#L147-L150

The puzzle was created by Yegor Bugayenko on 24-Dec-17.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2017-12-24 19:51] 0crat commented on #97
@yegor256 please, pay attention to this issue

[2018-04-02 16:33] yegor256 opened #98 "more logging"
Let's add

[2018-04-02 16:43] yegor256 commented on #98
@rultor release, tag is `0.21.6`

[2018-04-02 16:44] rultor commented on #98
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14231-377974065)

[2018-04-02 17:11] rultor commented on #98
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14231-377974065) (took me 26min)

[2018-04-02 17:17] #98 closed

[2018-04-02 17:29] yegor256 opened #99 "more logs"
Even more logs

[2018-04-02 17:30] yegor256 commented on #99
@rultor release, tag is `0.21.7`

[2018-04-02 17:30] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14233-377986615)

[2018-04-02 17:32] 0crat commented on #98
The job is not in WBS, won't close the order

[2018-04-02 18:00] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14233-377986615) (took me 29min)

[2018-04-02 18:00] #99 closed

[2018-04-02 18:15] 0crat commented on #99
The job is not in WBS, won't close the order

[2018-09-27 05:27] g4s8 opened #100 "jcabi-dynamo is not compatible with fresh version of jcabi-jdbc"
`H2Data` in jcabi-dynamo depends on jcabi-jdbc and uses `JdbcSession(Connection contructor)` which was removed in `0.17.1` version of jcabi-jdbc. So after update to `0.17.1` I'm getting an error: `java.lang.NoSuchMethodError: com.jcabi.jdbc.JdbcSession.<init>(Ljava/sql/Connection;)V` in jcabi-dynamo:
[code]

[2018-09-27 05:27] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-27 05:27] 0crat commented on #100
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 16:33] 0crat commented on #100
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-25 16:44] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2018-12-30 17:39] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-04 18:39] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-09 19:39] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-14 20:37] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-01-24 22:44] 0crat commented on #100
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#100](https://github.com/jcabi/jcabi-dynamo/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (

[2019-05-10 05:06] mechingineer opened #101 "Unable to fetch data from AWS Dynamo DB"
I am getting this error message:

Caused by: com.amazonaws.AmazonServiceException: The security token included in the request is invalid. (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: UnrecognizedClientException; Request ID: J1U8P1K6QL2R77A1KD6BTB9LVBVV4KQNSO5AEMVJF66Q9ASUAAJG)

PFB my code:

public static void dynamo() throws IOException
   {
	   Credentials credentials = new Credenti

[2019-05-10 05:06] 0crat commented on #101
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-10 05:06] 0crat commented on #101
@mechingineer[/z](https://www.0crat.com/u/mechingineer) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-05 03:56] yegor256 opened #102 "GT and LT operators are not supported by H2Data"
Let's implement this

[2019-12-05 04:34] yegor256 commented on #102
@rultor release, tag is `0.21.8`

[2019-12-05 04:35] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20992-561964464)

[2019-12-05 04:55] rultor commented on #102
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20992-561964464) (spent 19min)

[code]

[2019-12-05 04:59] yegor256 commented on #102
@rultor release, tag is `0.21.8`

[2019-12-05 05:02] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20992-561969546)

[2019-12-05 05:17] rultor commented on #102
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20992-561969546) (spent 14min)

[code]

[2019-12-05 05:18] yegor256 commented on #102
@rultor release, tag is `0.21.9`

[2019-12-05 05:21] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20992-561973514)

[2019-12-05 05:39] rultor commented on #102
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20992-561973514) (took me 16min)

[2019-12-05 06:05] #102 closed

[2019-12-05 06:28] 0crat commented on #102
Job `gh:jcabi/jcabi-dynamo#102` is not assigned, can't get performer

[2019-12-05 06:28] 0crat commented on #102
This job is not in scope

[2021-07-21 20:59] greensky-code commented on #78
com.amazonaws.services.dynamodbv2.model.ResourceNotFoundException: Cannot do operations on a non-existent table (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ResourceNotFoundException;
Need help

[2022-07-11 16:56] yegor256 opened #113 "fresh release"

[2022-07-13 15:20] 0pdd commented on #10
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-13 16:16] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26227-1183419661)

[2022-07-13 16:25] rultor commented on #113
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26227-1183419661) (spent 9min)

[code]

[2022-07-13 16:28] yegor256 commented on #113
@rultor release, tag is `0.22.1`

[2022-07-13 16:29] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26227-1183433047)

[2022-07-13 16:46] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26227-1183433047) (took me 17min)

[2022-07-13 17:34] #113 closed

[2022-07-14 05:03] yegor256 opened #114 "local integration test with DynamoDB Local"
Let's add it

[2022-07-14 05:21] yegor256 commented on #114
@rultor release, tag is `0.22.2`

[2022-07-14 05:22] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26232-1184000673)

[2022-07-14 05:40] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26232-1184000673) (took me 17min)

[2022-07-14 05:44] #114 closed

[2022-09-22 04:19] renovate[bot] opened #118 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.jcabi:DynamoDBLocal to v2014-10-07
 - [ ] Update dependency com.jcabi:jcabi to v1.34.1

[2022-09-23 03:36] 0pdd commented on #97
The puzzle `28-4427f443` has disappeared from the source code, that's why I closed this issue.

[2022-09-23 03:36] #97 closed

[2022-09-23 03:36] 0pdd commented on #28
@pinaf the only puzzle [#97](https://github.com/jcabi/jcabi-dynamo/issues/97) is solved here.